body{
    margin: 0 150px 0 150px;
    padding-top: 50px;
    
}
p{
    font-size: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 1024.5px;

}
nav{
    width: 40%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}
nav ul li a:active{
    color: hsl(5, 85%, 63%);
}

.section-top{
    display: flex;
    flex-direction: row;
}
.section-top-left{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.section-top-left img{
    width: 100%;
}
.h1{
    width: 50%;
}
.h1 h1{
    width: 100%;
    margin: 0;
    font-size: 40px;
}
.section-top-right{
    width: 341.5px;
    margin-left: 20px;
    background-color: hsl(240, 100%, 5%);
}
.top-right-article{
    width: 90%;
    font-size: 15px;
    
}
.section-top-right h1{
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    margin-left: 25px;
}
.section-top-right h2{
    margin-left: 25px;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
}
.section-top-right p{
    color: hsl(233, 8%, 79%);
    font-weight: 400;
    padding-bottom: 0;
}
.web-future{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.article{
    width: 50%;
}
.article p{
    margin-left: 0;
}
button{
    background-color:hsl(5, 85%, 63%);
    padding: 10px;
}
.article a{
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}
.d-left p , .d-right p , .article p {
    color:hsl(236, 13%, 42%);
}

/*element du bas*/
.section-bottom{
    display: flex;
    flex-direction: row;
}
.bottom-left{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 60px;
}
.d-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 25px;
}
hr{
    margin-left: 25px;
}
.d-left h2, .d-right h2{
    margin-top: 0;
    color: hsl(233, 8%, 79%);

}
.d-left h2, h3, p, .d-right h2{
    margin-left: 25px;
}

.d-left .text{
    width: 70%;
}
.d-left .img{
    width: 30%;
}
.d-left .img img{
    width: 100%
}

.bottom-right{
    width: 341.5px;
    margin-left: 20px;
    margin-top: 60px;
}
.d-right{
    display: flex;
    flex-direction: row;
}
.d-right .img{
    width: 40%;
}
.d-right .img img{
    width: 100%;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }